<meta http-equiv="Content-Type" content="text/html" />
<meta content="origin" name="referrer" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keyboard-shortcuts-preference" content="all" />
<meta content="email=no" name="format-detection" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index,follow,max-image-preview:large" />
<meta
  property="og:locale"
  content="en_US"
  xmlns:og="http://opengraphprotocol.org/schema/"
/>
<meta http-equiv="content-language" content="en">
<meta name="color-scheme" content="dark">
<meta property="og:image:type" content="image/png" xmlns:og="http://opengraphprotocol.org/schema/">
<meta property="og:type" content="website" xmlns:og="http://opengraphprotocol.org/schema/">
<meta name="referrer" content="no-referrer-when-downgrade">
<meta name="msapplication-tap-highlight" content="no">
<meta name="msapplication-window" content="width=device-width;height=device-height">
<meta name="google" content="nositelinkssearchbox">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="x-dns-prefetch-control" content="on">